<div class="add-event-container">
    <h1>Select the date and members that attended the event</h1>
    <form>
        <div class="date-container">
            <label for="date">Date: </label>
            <input type="date" name="date" id="date" required>
        </div>
        <div class="event-type-container">
            <label for="event-type">Event type:</label>
            <select name="event-type" id="event-type">
            </select>
        </div>
        <div class="organization-container">
            <label for="select-organization">Organization:</label>
            <select name="select-organization" id="select-organization"></select>
        </div>
        <div class="check-members"></div>
        <input type="submit" class="submit-button" value="Add an event">
    </form>
    <div class="message">
        <h2>New event added</h2>
    </div>
</div>