<div class="add-event-container">
    <h1>Select the date and members that attended the event</h1>
    <form>
        <div class="date-container">
            <label for="date">Date: </label>
            <input type="date" name="date" id="date" required>
        </div>
        <div class="type-container">
            <label for="type">Event type:</label>
            <select name="type" id="type">
                <option value="rehearsal">Rehearsal</option>
                <option value="concert">Concert</option>
            </select>
        </div>
        <div class="check-members"></div>
        <input type="submit" class="submit-button" value="Add an event">
    </form>
</div>