<div class="add-member-container">
    <h1>Add a new member</h1>
    <form class="add-member-form" action="" method="">
        <div class="fname_container">
            <label for="fname">First name:</label>
            <input type="text" name="fname" id="fname" placeholder="Pero" required>
        </div>
        <div class="lname_container">
            <label for="lname">Last name:</label>
            <input type="text" name="lname" id="lname" placeholder="Peric" required>
        </div>
        <div class="organization-container">
            <label for="select-organization">Choose an organization:</label>
            <select name="select-organization" id="select-organization">
                <option value="TO FA IGK">TO FA IGK</option>
                <option value="FA IGK">FA IGK</option>
                <option value="TD Ferdo Livadic Djeca">TD Ferdo Livadic Djeca</option>
                <option value="TD Ferdo Livadic Stariji">TD Ferdo Livadic Stariji</option>
            </select>
        </div>
        <input type="submit" value="Add" class="submit-button">
    </form>
    <div class="message">
        <h2>New member added!</h2>
    </div>
</div>