<div class="home-container">
    <div class="organization-container">
        <label for="organization">Choose an organization:</label>
        <select name="select-organization" id="select-organization">
            <option value="TO FA IGK">TO FA IGK</option>
            <option value="FA IGK">FA IGK</option>
            <option value="TD Ferdo Livadic Djeca">TD Ferdo Livadic Djeca</option>
            <option value="TD Ferdo Livadic Stariji">TD Ferdo Livadic Stariji</option>
        </select>
    </div>
    <h2 id="display-selected-org">None</h2>
</div>