<div class="past-events-container">  
    <div class="events-container">
        <h1>Past events for:</h1>
        <div class="organization-container">
        <select name="select-organization" id="select-organization">
            <option value="TO FA IGK">TO FA IGK</option>
            <option value="FA IGK">FA IGK</option>
            <option value="TD Ferdo Livadic Djeca">TD Ferdo Livadic Djeca</option>
            <option value="TD Ferdo Livadic Stariji">TD Ferdo Livadic Stariji</option>
        </select>
    </div>
    </div>
    <div class="confirm-event-container">
        <h2>Do you want to delete this event?</h2>
        <button class="confirm-event-delete">YES</button>
        <button class="cancel-event-delete">CANCEL</button>
    </div>
    <div class="event-attendance-container">
        <h2 class="event-info"></h2>
        <button class="return-events-button">Return</button>
    </div>
</div>