<div class="see-members-container">  
    <div class="members-container">
        <h1>Members of: </h1>
        <div class="organization-container">
        <select name="select-organization" id="select-organization"></select>
        <div class="download-button">Download report</div>
    </div>
    </div>
    <div class="confirm-member-container">
        <h2></h2>
        <button class="confirm-member-delete">YES</button>
        <button class="cancel-member-delete">CANCEL</button>
    </div>
    <div class="member-stats-container">
        <button class="return-button">Return</button>
    </div>
</div>