<div class="see-members-container">  
    <div class="members-container">
        <h1>Members of: </h1>
        <div class="organization-container">
        <select name="select-organization" id="select-organization">
            <option value="TO FA IGK">TO FA IGK</option>
            <option value="FA IGK">FA IGK</option>
            <option value="TD Ferdo Livadic Djeca">TD Ferdo Livadic Djeca</option>
            <option value="TD Ferdo Livadic Stariji">TD Ferdo Livadic Stariji</option>
        </select>
        <div class="download-button">Download</div>
    </div>
    </div>
    <div class="confirm-member-container">
        <h2></h2>
        <button class="confirm-member-delete">YES</button>
        <button class="cancel-member-delete">CANCEL</button>
    </div>
    <div class="member-stats-container">
        <button class="return-button">Return</button>
    </div>
</div>