<div class="select-organization-container">
    <h2>Select an organization</h2>
    <div class="organization-container">
        <select name="select-organization" id="select-organization"></select>
    </div>
    <h2>Or add a new one</h2>
    <form class="add-organization-form" action="" method="">
        <input type="text" name="orgname" id="orgname" placeholder="Organization name" required>
        <input type="submit" value="Add" class="add-organization-button">
    </form>
    <div class="organization-added-message">
        <h2>New organization added!</h2>
    </div>
    <h2>Add different event types for the selected organization</h2>
    <form class="add-event-type-form" action="" method="">
        <input type="text" name="eventType" id="eventType" placeholder="Event type" required>
        <input type="submit" value="Add" class="add-event-type-button">
    </form>
    <div class="event-type-added-message">\
        <h2>New event type added!</h2>
    </div>
    <h2>Default event type:</h2>
    <div class="event-type-select-container">
        <select name="event-type" id="event-type"></select>
        <button class="remove-event-type">Remove event type</button>
    </div>
    <div class="no-events-message">
        <h2>The event type is not selected</h2>
    </div>
    <button class="delete-organization-button">Delete organization</button>
</div>
<div class="delete-organization-confirm">
    <h2></h2>
    <button class="confirm-organization-delete">Delete</button>
    <button class="cancel-organization-delete">cancel</button>
</div>
<div class="final-delete-confirm">
    <h2>Are you sure, once you delete it you can't go back</h2>
    <button class="delete-anyway-button">Delete anyway</button>
    <button class="cancel-organization-delete">Cancel</button>
</div>
<div class="remove-event-type-container">
    <h2></h2>
    <button class="confirm-event-type-remove">remove</button>
    <button class="cancel-event-type-remove">cancel</button>
</div>