<div class="select-organization-container">
    <h2>Select an organization</h2>
     <div class="organization-container">
        <select name="select-organization" id="select-organization"></select>
    </div>
    <h2>Or add a new one</h2>
    <form class="add-organization-form" action="" method="">
            <input type="text" name="orgname" id="orgname" placeholder="Organization name" required>
        <input type="submit" value="Add" class="add-organization-button">
    </form>
    <div class="message">
        <h2>New organization added!</h2>
    </div>
</div>