.select-organization-container,
.delete-organization-confirm,
.final-delete-confirm,
.remove-event-type-container {
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px #3c5b6f;
}

.delete-organization-confirm,
.final-delete-confirm,
.remove-event-type-container,
.no-events-message {
    display: none;
}
.select-organization-container select {
    padding: 0.8rem 1rem;
    border: 2px solid #dfe6e9;
    border-radius: 8px;
    font-size: 1rem;
    flex-grow: 1;
    transition: border-color 0.3s ease;
}
.select-organization-container label {
    font-size: 1.1rem;
    min-width: 120px;
    font-weight: 500;
}

.add-organization-button,
.delete-organization-button,
.add-event-type-button,
.remove-event-type {
    width: 40%;
    background-color: #3c5b6f;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: background-color 0.3s ease;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.delete-organization-button,
.remove-event-type {
    background-color: #6f3c3c; 
}
.add-organization-button:hover,
.add-event-type-button:hover {  
    background-color: #253b49;
}

.delete-organization-button {
    margin-top: 6rem; /* Different shade for cancel */
}

.select-organization-container input[type="text"] {
    padding: 0.8rem 1rem;
    border: 2px solid #dfe6e9;
    border-radius: 8px;
    font-size: 1rem;
    flex-grow: 1;
    transition: border-color 0.3s ease;
}

.organization-added-message,
.event-type-added-message,
.no-events-message {
    display: none;
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: #dff0d8;
    color: #3c763d;
    text-align: center;
    font-weight: 500;
}

.confirm-organization-delete,
.cancel-organization-delete,
.delete-anyway-button,
.confirm-event-type-remove,
.cancel-event-type-remove {
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: #3c5b6f;
    transition: background-color 0.3s ease;
    color: white;
    margin: 10px;
}

.confirm-organization-delete:hover,
.cancel-organization-delete:hover,
.delete-anyway-button:hover,
.confirm-event-type-remove:hover,
.cancel-event-type-remove:hover {
    background-color: #253b49;
    transform: translateY(-2px);
}

.confirm-organization-delete,
.delete-anyway-button,
.no-events-message,
.confirm-event-type-remove
 {
    background-color: #6f3c3c; /* Different shade for cancel */
}
.no-events-message{
    color: white;
}
.confirm-organization-delete:hover,
.delete-organization-button:hover,
.delete-anyway-button:hover,
.remove-event-type:hover,
.confirm-event-type-remove:hover {
    background-color: #492525;
}